#ima1 {width: 50%;
}
#ima1 {margin-left: 25%;
}
#ima1 {border-color: rgb(18, 1, 1);
       border-width: 8px;
    border-style: double;
}
 .parte01 {background-color: rgb(180, 116, 116);
}
.parte02 {background-color: rgb(72, 65, 65);
}
h4 {text-align: center;
    font-size: 200%;
}   